[user]
	name = skmtkytr
	email = skmtkytr+github@gmail.com
	signingkey = 88EF01124
[core]
	autoCRLF = false
	safecrlf = true
	editor = "nvim "
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[alias]
	co = checkout
	br = branch
	st = status
	ba = branch -a
  # いい感じのグラフでログを表示
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  # 上の省略形
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  difff = diff --word-diff
  stt = status -uno
  today = log --oneline --since='12 hour ago'
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
[fetch]
	prune = true
[ghq]
	root = ~/.ghq
#  root = ~/.go/src
[push]
	default = upstream
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  path = nvim
[difftool]
  path = nvim
[gpg]
	program = /usr/local/bin/gpg
#[commit]
#	gpgsign = true
[credential]
	helper = osxkeychain
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
