[user]
	name = Kyotaro Sakamoto / skmtkytr
	email = skmtkytr+github@gmail.com
	signingkey = 88EF01124
[core]
	autoCRLF = false
	safecrlf = true
	editor = "nvim "
  pager = delta
	fsmonitor = true
	untrackedcache = true
[interactive]
  diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
[alias]
	co = checkout
	br = branch -vv
	st = status
	ba = branch -a
  # いい感じのグラフでログを表示
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  # 上の省略形
  gr = graph
  difff = diff --word-diff
  stt = status -uno
  today = log --oneline --since='12 hour ago'
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	; openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	openpr = "!f() { gh pr view --web; }; f"
[fetch]
	prune = true
[ghq]
	root = ~/.ghq
#  root = ~/.go/src
[push]
	default = upstream
	autoSetupRemote = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  path = nvim
[difftool]
  path = nvim
[gpg]
	program = /usr/local/bin/gpg
#[commit]
#	gpgsign = true
[credential]
	helper = osxkeychain
	helper = 
	; helper = /usr/local/share/gcm-core/git-credential-manager
	; helper = /usr/bin/git-credential-manager
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[scalar]
	repo = /Users/skmtkytr/.ghq/github.com/hello-ai/auto_reserve
[maintenance]
	repo = /Users/skmtkytr/.ghq/github.com/hello-ai/auto_reserve
[protocol]
	version = 2
