**/logs/*
logs/*
**/logs/*
**/**/logs/*
**/.vscode/*
**/**/.vscode/*
config/gcloud/
config/hub
config/fish/fishd*
config/fish/completions
config/fish/conf.d
config/fish/functions
config/nvim*/*lock.json

config/fisherman
*_tags

config/fish/functions/_*

config/nvim/pack/github/start/copilot.vim
config/nvim/plugin/packer_compiled.lua
config/github-copilot/hosts.json
config/github-copilot/versions.json
config/nvim/lazy-lock.json
config/fish/completions

config/raycast

config/btop/btop.log
config/Slack
config/Google/AndroidStudio2023.3
config/.android
config/coolero
config/dconf
config/discord
config/google-chrome
config/microsoft-edge

config/gtk-3.0
config/gtk-4.0
config/unity3d
config/fish/fish_variables
config/go
