[Desktop Entry]
Type=Application
Exec=/usr/bin/discord
Hidden=false
NoDisplay=false
Name=Discord
Icon=discord
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
